body {background-image: url(images/2.jpg.gif);
    margin-left: auto;
    margin-right: auto;
    width: 75%;}

table {border-collapse: collapse;}

#home td { border-bottom: thin solid black; padding: 15px; }
#nav td {width: 20%; padding: 12px; }

label { float: left;
	width: 100px;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

input, textarea { margin-top: 10px; }

#mySubmit { margin-left: 110px;
           padding-bottom: 10px; }

img {
margin:40px 330px;



}
#background_image
{
        background-image: image(images\1542028721_hd-hq-wallpaper-30.jpg);

}

